# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Vscode
workspace.code-workspace

# Custom
/.vscode
/build
Template/Keil_project/output
Template/Keil_project/list
Template/Keil_project/Project.uvg*
Template/Keil_project/Project.uvo*

Template/My_Keil_project/Objects
Template/My_Keil_project/Listings
Template/My_Keil_project/Core_Board.uvguix.APPO
Template/My_Keil_project/Core_Board.uvoptx
*.scvd

log.txt
*.cppcheck
*cppcheck-build-dir*
*.code-workspace